h3 {
  margin-left: 1em;
}
h4 {
  margin-left: 2em;
}
body {
  background-image: linear-gradient(pink, rgb(253, 253, 128));
}
img {
  width: 200px;
  padding: 20px
}

.puppyCard {
  /* text-align: center; */
  margin: 10px;
  padding-top: 10px;
  background-color: aquamarine;
  width: 50em;
  display: flexbox;
  justify-content: space-between;
  border-radius: 30px;
  border: 10px double pink;
  

}

h1 {
  background-color: rgb(193, 217, 237);
  padding-top: 1em;
  border: 10px double rgb(216, 100, 120);
  border-radius: 80px;
  height: 3em;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(16, 6, 1);
  text-align: center;
  text-shadow: 5px 5px 5px;

}

button {
  justify-content: center;
  height: 50px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

#singlePuppyCard {
  background-color: aquamarine;
  text-align: center;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  border: 20px outset rgb(216, 100, 120); 
}
#singlePuppyCard h2 {
  font-weight: 700;
}
#singlePuppyCard h4 {
  color:blueviolet;
}
#singlePuppyCard img {
  margin: 10px;
}

#search {
  margin: 30px;
  background-color: rgb(255, 184, 98);
}
#searchForm {
  background-color: rgb(255, 206, 127);
  border: 8px ridge aquamarine;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 50px;
  text-align: center;
  
}
#addForm{
  height: 6em;
  background-color: rgb(255, 206, 127);
  border: 8px ridge aquamarine;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 50px;
  text-align: center;

}

input {
  background-color:  rgb(255, 184, 98);
  margin-top: 17px;
}
#submitButton {
  background-color: antiquewhite;
}

#link {
  background-color: aliceblue;
  text-align: center;
  border: 10px ridge rgb(216, 100, 120);
  display: flex;
  justify-content: center;
  
}