h3 {
  margin-left: 1em;
}
h4 {
  margin-left: 2em;
}
body {
  background-image: linear-gradient(pink, rgb(253, 253, 128));
}
img {
  height: 200px;
  padding: 20px
}

.puppyCard {
  /* text-align: center; */
  margin: 10px;
  padding-top: 10px;
  background-color: aquamarine;
  width: 30em;
  display: inline-flex;
  justify-content: space-between;
  border-radius: 30px;
  border: 10px double pink;
  

}

h1 {
  color: rgb(16, 6, 1);
  text-align: center;
  text-shadow: 5px 5px 5px;

}